<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <div class="detailsContainer">
      <div class="imgContainer">
        <img id="imgDetails" src="/<%= recipe.image %>" alt="recipeImage" />
        <div id="ingredientsList">
          <h2 id="detailsTitle"><%= recipe.title %></h2>
          <span class="detailsHeading">Ingredients:</span>
          <% recipe.ingredients.forEach((el)=> { %>
          <p><%= el.ingredient + " " + el.qty + " " + el.qtyType %></p>
          <% }) %>
        </div>
      </div>
      <div id="instructionContainer">
        <span class="detailsHeading">Instructions:</span>
        <p><%= recipe.body %></p>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
