<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <div class="recipeContainer">
      <h2><%= recipe.title %></h2>
      <div class="imgContainer">
        <img src="/<%= recipe.image %>" alt="recipeImage" />
      </div>
      <!-- <p><%= recipe.category %></p> -->
      <div id="ingredientsList">
        <span>Ingredients:</span>
        <% recipe.ingredients.forEach((el)=> { %>
        <p><%= el.ingredient + " " + el.qty + " " + el.qtyType %></p>
        <% }) %>
      </div>
      <div>
        <span>Instructions:</span>
        <p><%= recipe.body %></p>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
