<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <form
      action="/recipes/<%=recipe.id%>?_method=PUT"
      method="POST"
      class="form"
      enctype="multipart/form-data"
    >
      <h2>Edit Recipe</h2>
      <label for="title">Recipe Name:</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%=recipe.title%>"
        required
      />
      <label for="category">Category:</label>
      <select name="category" id="category" required>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
        <option value="snack">Snack</option>
      </select>
      <button type="button" id="addBtn">Add Ingredient</button>
      <input type="number" id="count" name="count" class="hidden" />
      <div id="ingredientContainer">
        <% recipe.ingredients.forEach((el)=>{%>
        <div class="singleIngredient">
          <label for="ingredientName">Ingredient:</label>
          <input
            type="text"
            id="ingredientName"
            name="ingredientName"
            value="<%=el.ingredient%>"
            required
          />
          <label for="ingredientQty">Qty:</label>
          <input
            type="number"
            id="ingredientQty"
            name="ingredientQty"
            value="<%=el.qty%>"
            step="any"
            required
          />
          <label for="qtyType">Measurement:</label>
          <select name="qtyType" id="qtyType" value="<%=el.qtyType%>" required>
            <option value="cups">cup</option>
            <option value="lb">lb</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
            <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <%})%>
      </div>
      <label for="body">Recipe Instructions:</label>
      <textarea id="body" name="body" required><%=recipe.body%></textarea>
      <label for="image">Upload Image:</label>
      <input type="file" name="image" accept="image/*" required />
      <button class="submitBtn">Submit</button>
    </form>
  </div>
  <%- include("./partials/footer.ejs") %>
  <script>
    let deleteBtn = document.querySelectorAll('.fa-trash');
    deleteBtn.forEach((el) => {
      el.addEventListener('click', (e) => {
        e.target.parentNode.remove();
        countInput.value = ingredientContainer.childElementCount;
      });
    });
    const countInput = document.getElementById('count');
    const addIngredient = document.getElementById('addBtn');
    const ingredientContainer = document.getElementById('ingredientContainer');
    addIngredient.addEventListener('click', () => {
      const nextInput = document.createElement('div');
      nextInput.classList.add('singleIngredient');
      nextInput.innerHTML = ` <label for="ingredientName">Ingredient:</label>
        <input type="text" id="ingredientName" name="ingredientName" required />
        <label for="ingredientQty">Qty:</label>
        <input type="number" id="ingredientQty" name="ingredientQty" step='any' required/>
        <label for="qtyType">Measurement:</label>
        <select name="qtyType" id="qtyType"required>
          <option value="cups">cup</option>
          <option value="lb">lb</option>
          <option value="tsp">tsp</option>
          <option value="tbsp">tbsp</option>
          <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i> `;
      ingredientContainer.appendChild(nextInput);
      countInput.value = ingredientContainer.childElementCount;
      deleteBtn = document.querySelectorAll('.fa-trash');
      deleteBtn.forEach((el) => {
        el.addEventListener('click', (e) => {
          e.target.parentNode.remove();
          countInput.value = ingredientContainer.childElementCount;
        });
      });
    });
  </script>
</body>
