<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <form
      action="/recipes/<%=recipe.id%>?_method=PUT"
      method="POST"
      class="form"
      enctype="multipart/form-data"
    >
      <h2 class="title">Edit Recipe</h2>
      <div class="inputDiv">
        <label for="title">Recipe Name:</label>
        <input
          type="text"
          id="title"
          name="title"
          value="<%=recipe.title%>"
          required
        />
        <label for="category">Category:</label>
        <select name="category" id="category" required>
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
          <option value="dessert">Dessert</option>
          <option value="snack">Snack</option>
        </select>
      </div>

      <div id="ingredientContainer">
        <% recipe.ingredients.forEach((el)=>{%>
        <div class="singleIngredient">
          <label for="ingredientName">Ingredient:</label>
          <input
            type="text"
            id="ingredientName"
            name="ingredientName"
            value="<%=el.ingredient%>"
            required
          />
          <label for="ingredientQty">Qty:</label>
          <input
            type="number"
            id="ingredientQty"
            name="ingredientQty"
            value="<%=el.qty%>"
            step="any"
            required
          />
          <label for="qtyType">Measurement:</label>
          <select name="qtyType" id="qtyType" value="<%=el.qtyType%>" required>
            <option value="cups">cup</option>
            <option value="each">ea</option>
            <option value="lb">lb</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
            <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <%})%>
      </div>
      <button type="button" id="addBtn" class="btn">
        <i class="fas fa-plus"></i>
      </button>
      <label for="body">Recipe Instructions:</label>
      <textarea id="body" name="body" required><%=recipe.body%></textarea>
      <div class="inputDiv">
        <label for="image" class="customUpload btn">Upload Image</label>
        <span id="selectedFile">No file selected</span>
        <input type="file" id="image" name="image" accept="image/*" required />
      </div>
      <button class="btn" id="submitBtn">Submit</button>
    </form>
  </div>
  <%- include("./partials/footer.ejs") %>
  <script>
    const image = document.getElementById('image');
    const selectedImage = document.getElementById('selectedFile');
    image.addEventListener('change', () => {
      const fileName = image.value;
      selectedImage.innerText = fileName.replace(/^.*\\/, '');
    });

    let deleteBtn = document.querySelectorAll('.fa-trash');
    deleteBtn.forEach((el) => {
      el.addEventListener('click', (e) => {
        e.target.parentNode.remove();
      });
    });
    const addIngredient = document.getElementById('addBtn');
    const ingredientContainer = document.getElementById('ingredientContainer');
    addIngredient.addEventListener('click', () => {
      const nextInput = document.createElement('div');
      nextInput.classList.add('singleIngredient');
      nextInput.innerHTML = ` <label for="ingredientName">Ingredient:</label>
        <input type="text" id="ingredientName" name="ingredientName" required />
        <label for="ingredientQty">Qty:</label>
        <input type="number" id="ingredientQty" name="ingredientQty" step='any' required/>
        <label for="qtyType">Measurement:</label>
        <select name="qtyType" id="qtyType"required>
          <option value="cups">cup</option>
          <option value="each">ea</option>
          <option value="lb">lb</option>
          <option value="tsp">tsp</option>
          <option value="tbsp">tbsp</option>
          <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i> `;
      ingredientContainer.appendChild(nextInput);
      deleteBtn = document.querySelectorAll('.fa-trash');
      deleteBtn.forEach((el) => {
        el.addEventListener('click', (e) => {
          e.target.parentNode.remove();
        });
      });
    });
  </script>
</body>
