<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <h2>My Recipes</h2>
    <div class="recipes">
      <% if (recipes.length > 0) { %> <% recipes.forEach(recipe => { %>
      <div>
        <a class="single" href="/recipes/<%= recipe._id %>">
          <div class="imgContainer">
            <img
              src="/<%= recipe.image %>"
              alt="recipeImage"
              id="recipeImage"
            />
          </div>
          <h3 class="title"><%= recipe.title %></h3>
        </a>
        <a href="/recipes/edit/<%= recipe.id %>">Edit</a>
      </div>
      <% }) %> <% } else { %>
      <p>There are no recipes to display...</p>
      <% } %>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
