<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <div class="recipeContainer">
      <h2>All Recipes</h2>
      <div class="recipes">
        <% if (recipes.length > 0) { %> <% recipes.forEach(recipe => { %>
        <a class="single" href="/recipes/<%= recipe._id %>">
          <div class="imgContainer">
            <img
              src="/<%= recipe.image %>"
              alt="recipeImage"
              id="recipeImage"
            />
          </div>
          <h3><%= recipe.title %></h3>
        </a>
        <% }) %> <% } else { %>
        <p>There are no recipes to display...</p>
        <% } %>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
