<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <div class="recipeContainer">
      <h2>Recipes</h2>
      <div id="titleContainer">
        <ul class="links" id="categoryList">
          <li><a href="/recipes/category/breakfast">breakfast</a></li>
          <li><a href="/recipes/category/lunch">lunch</a></li>
          <li><a href="/recipes/category/dinner">dinner</a></li>
          <li><a href="/recipes/category/dessert">dessert</a></li>
          <li><a href="/recipes/">All</a></li>
        </ul>
        <form action="/recipes/search/search" method="GET">
          <label for="title">Search:</label>
          <input type="text" id="title" name="title" required />
          <button class="btn" id="searchBtn">Go</button>
        </form>
      </div>
      <div class="recipes">
        <% if (recipes.length > 0) { %> <% recipes.forEach(recipe => { %>
        <a class="single" href="/recipes/<%= recipe._id %>">
          <div class="imgContainer">
            <img
              src="/<%= recipe.image %>"
              alt="recipeImage"
              id="recipeImage"
            />
          </div>
          <h3><%= recipe.title %></h3>
        </a>
        <% }) %> <% } else { %>
        <p>There are no recipes to display...</p>
        <% } %>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
